@charset "UTF-8";
/*
Forma de acomodar los estilos para un mejor control.
1. posicionamineto
2. modelo de caja (box model)
3. tipografia 
4. visuales
5. otros-(mixins e elementos de prepocesador) 
*/
/*Variables*/
/*Mixins, condicionales y demás*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Kanit", sans-serif;
  scroll-behavior: smooth;
}

/*helpers*/
.border-title {
  margin: 12px auto;
  display: block;
  width: 150px;
  height: 4px;
  background-color: #FD275F;
}

.header {
  background-image: url(../assets/images/Background.png);
  width: 100%;
  min-width: 375px;
  height: auto;
  padding: 30px 30px 65px 30px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__logo {
  display: inline-block;
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header__logo--img {
  width: 145px;
  height: 65px;
}

.header__logo .menu-lg {
  display: none;
}

.header__nav div .close {
  float: right;
}

.header__nav .menu-desplegable {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: uppercase;
  margin: 50px auto;
  text-align: center;
}

.header__nav .menu-desplegable a {
  text-decoration: none;
  color: white;
  margin-top: 12px;
  font-size: 20px;
}

.burguer-button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50%;
  color: #FFFFFF;
}

.hero__info {
  display: none;
}

.hero__description {
  width: 100%;
  margin: 15px auto;
  text-align: center;
}

.hero__description h1 {
  font-weight: normal;
  font-size: 3rem;
  line-height: 3.8rem;
  color: #FFFFFF;
  margin-top: 10px;
  text-align: center;
}

.hero__description h1 strong {
  color: #53C7F0;
}

.hero__description p {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

.hero__description--event {
  display: block;
  margin-top: 10px;
  font-family: "Saira", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.5rem;
  color: #FFFFFF;
}

.button-buy {
  width: 214px;
  margin-top: 15px;
  height: 52px;
  font-size: 1.8rem;
  background-color: #FD275F;
  font-family: "Saira", sans-serif;
  font-weight: 500;
  border-radius: 50px;
  border: 1px solid #FD275F;
  color: #FFFFFF;
  width: 215px;
  height: 50px;
  font-size: 18px;
}

.button-buy a {
  color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 150px 100px;
  }
  .header__logo .menu-lg {
    display: block;
  }
  .header__logo .menu-lg a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 1.4rem;
    font-family: "Saira", sans-serif;
    font-weight: 700;
    margin-left: 40px;
    text-align: end;
  }
  .header__logo .menu-lg a:hover {
    color: #FD275F;
  }
  .header__logo--img {
    width: 270px;
    height: 120px;
  }
  .header__nav {
    display: none;
  }
  .header__nav a {
    font-family: "Saira", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-left: 45px;
  }
  .header__nav a:hover {
    color: #FD275F;
  }
  .burguer-button {
    display: none;
  }
  .hero__info {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 70px 0 10px 0px;
  }
  .hero__info ul {
    list-style: none;
  }
  .hero__info li {
    margin-right: 50px;
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
  }
  .hero__info--icon-reloj {
    margin-right: 3px;
    display: inline-block;
    background-image: url("../assets/iconos/reloj.svg");
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  .hero__info--icon-audifono {
    margin-right: 3px;
    display: inline-block;
    background-image: url("../assets/iconos/audifono.svg");
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  .hero__info--icon-entradas {
    margin-right: 3px;
    display: inline-block;
    background-image: url("../assets/iconos/entradas.svg");
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  .hero__description {
    text-align: start;
  }
  .hero__description h1 {
    font-size: 7.2rem;
    line-height: 8.6rem;
    text-align: start;
  }
  .hero__description--event {
    margin-top: 20px;
    font-size: 2.2rem;
  }
}

.container-details {
  background-image: url(../assets/images/Djsnake.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-details div {
  padding: 35px;
  width: 70%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
}

.container-details div img {
  display: block;
  width: 40px;
  height: 35px;
  margin: 0 auto;
}

.container-details div h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 4.5rem;
}

.container-details div h3 {
  font-size: 1.6rem;
  font-weight: 300;
}

.container-details div button {
  margin-top: 28px;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  background-color: #FD275F;
  border: 0;
}

.container-details div button a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Saira", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
}

@media screen and (min-width: 1024px) {
  .container-details {
    display: none;
  }
}

.presentaciones {
  background-image: url(../assets/images/stage.jpg);
  width: 100%;
  height: auto;
  padding: 60px 20px 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.presentaciones article h3 {
  font-family: "Saira", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  font-style: normal;
  line-height: 3.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.presentaciones article p {
  display: block;
  font-size: 1.5rem;
  line-height: 2rem;
  line-height: 2rem;
  text-align: center;
  letter-spacing: 0.05em;
  color: #53C7F0;
  margin-top: 20px;
  margin-bottom: 30px;
}

.presentaciones__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.presentaciones__container--grid {
  display: -ms-grid;
  display: grid;
  width: 335px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentaciones__container--grid div a {
  width: 70px;
  text-decoration: none;
  padding: 5px 20px;
  color: #FFFFFF;
  background: #FD275F;
  border-radius: 50px;
}

.presentaciones__item--titles {
  font-family: "Saira", sans-serif;
  text-transform: uppercase;
}

.presentaciones__item--dj {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 0.5fr 1fr 0.5fr;
      grid-template-columns: 0.5fr 1fr 0.5fr;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  padding: 0 20px 0 20px;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 1.1rem;
}

.item-title-ticket {
  text-align: center;
}

.item-dj__img,
.item-dj__stage,
.item-dj__detail {
  display: none;
}

.djs-button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 120px;
  height: 35px;
  background-color: #FD275F;
  color: #FFFFFF;
  border: 1px solid #FD275F;
  border-radius: 50px;
}

.djs-button a {
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .presentaciones {
    padding: 70px;
    height: auto;
  }
  .presentaciones article h3 {
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 10rem;
    text-align: start;
    margin-left: 0;
  }
  .presentaciones article h3 .border-title__presentaciones {
    width: 297px;
    color: black;
    margin-left: 0;
  }
  .presentaciones article p {
    font-size: 2.2rem;
    line-height: 34.6px;
    text-align: start;
    width: 65%;
  }
  .presentaciones__container--grid {
    display: -ms-grid;
    display: grid;
    width: 88vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-row-gap: 12px;
  }
  .presentaciones__container--grid div:first-child {
    pointer-events: none;
  }
  .presentaciones__container--grid div a {
    width: 120px;
  }
  .presentaciones__item--dj {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 0.5fr 0.5fr 0.6fr 0.5fr 0.5fr 0.5fr;
        grid-template-columns: 0.5fr 0.5fr 0.6fr 0.5fr 0.5fr 0.5fr;
    -ms-grid-rows: 180px;
        grid-template-rows: 180px;
    padding: 0 20px 0 20px;
    -ms-flex-line-pack: center;
        align-content: center;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    font-size: 2.5rem;
  }
  .presentaciones__item--dj:hover {
    background-color: rgba(253, 39, 95, 0.8);
  }
  .presentaciones__item--titles {
    height: 65px;
  }
  .item-dj__img,
  .item-dj__stage,
  .item-dj__detail,
  .item-title-ticket {
    display: -ms-grid;
    display: grid;
  }
  .item-dj__detail {
    margin-left: 15px;
  }
  .item-title-ticket {
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 7;
    text-align: start;
    margin-left: 15px;
  }
  .djs-button {
    width: 290px;
    height: 75px;
    font-size: 2.5rem;
    margin-top: 40px;
  }
}

.event-numbers {
  display: none;
}

@media screen and (min-width: 1024px) {
  .event-numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 100px 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #060F20;
  }
  .event-numbers__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 170px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
  }
  .event-numbers__item img {
    width: 90px;
    height: auto;
  }
  .event-numbers__item h4 {
    margin: 0 15px;
    font-size: 50px;
    color: #fff;
    font-family: "Saira", sans-serif;
    text-align: center;
  }
  .event-numbers__item p {
    font-size: 2rem;
    color: #53C7F0;
    text-align: center;
  }
}

.djs__contenedor--index {
  padding: 65px 0;
}

.djs__contenedor--index-flex {
  text-align: center;
}

.contenedor__izq h3 {
  font-size: 3rem;
  font-weight: 400;
}

.contenedor__izq p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.contenedor__izq div {
  margin-bottom: 20px;
}

.contenedor__der {
  width: 100%;
}

.contenedor__der div {
  font-family: "Kanit", sans-serif;
}

.contenedor__der div img {
  width: 100%;
  max-width: 500px;
}

.contenedor__der div h4 {
  font-weight: 400;
  font-size: 3.5rem;
}

.contenedor__der div p {
  font-weight: 300;
  font-size: 1.8rem;
}

.dj-secundario {
  display: none;
}

.button__more {
  display: none;
}

@media screen and (min-width: 1024px) {
  .djs__contenedor--index {
    padding: 0px 0px 0px 0px;
  }
  .djs__contenedor--index-bdr {
    width: 100%;
    height: 140px;
    border-left: 10px solid #FD275F;
  }
  .djs__contenedor--index-bdr2 {
    width: 100%;
    height: 140px;
    border-right: 10px solid #FD275F;
  }
  .djs__contenedor--index-flex {
    padding-right: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .contenedor__izq {
    width: 20%;
    padding-bottom: 20px;
    text-align: end;
  }
  .contenedor__izq h3 {
    padding-right: 20px;
    margin-bottom: 40px;
    font-size: 6rem;
    font-weight: 600;
  }
  .contenedor__izq h3 .border-title__djs {
    width: 150px;
    margin-right: 0;
  }
  .contenedor__izq p {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: end;
  }
  .contenedor__izq figure {
    width: 100%;
    margin-bottom: 10px;
    padding-right: 10px;
    text-align: end;
  }
  .contenedor__izq figure img {
    width: 50px;
    margin-left: 10px;
  }
  .button__more {
    display: inline-block;
    padding: 8px;
    text-align: center;
    outline: none;
    background-color: #FD275F;
    font-family: "Saira", sans-serif;
    font-weight: 500;
    border-radius: 50px;
    border: 1px solid #FD275F;
    color: #FFFFFF;
    width: 215px;
    height: 50px;
    font-size: 18px;
  }
  .button__more a {
    color: #FFFFFF;
    vertical-align: middle;
    text-decoration: none;
  }
  .contenedor__der {
    width: 80%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contenedor__der div {
    text-align: start;
  }
  .contenedor__der div h4 {
    margin-left: 10px;
  }
  .contenedor__der div p {
    margin-left: 10px;
  }
  .djs__contenedor--img {
    width: 100%;
    height: auto;
    max-width: 350px;
    padding-right: 40px;
  }
  .djs__contenedor--img h4 {
    font-size: 3.5rem;
    font-weight: 500;
    text-align: start;
  }
  .djs__contenedor--img p {
    font-size: 1.8rem;
    font-weight: 300;
  }
  .djs__contenedor--img img {
    width: 100%;
  }
  .dj-secundario {
    display: block;
  }
}

.tickets-container {
  min-width: 325px;
  max-width: 100%;
  height: auto;
  background-color: #060F20;
  padding: 55px 40px;
  text-align: center;
}

.tickets-container__description {
  width: 80%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.9rem;
  color: #53C7F0;
}

.tickets-container__description h3 {
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.tickets-container__description p {
  display: block;
}

.tickets-container__cards div {
  max-width: 500px;
  width: 90%;
  height: auto;
  margin: 35px auto;
  padding: 50px 60px;
  background-color: #24243C;
  text-align: center;
}

.tickets-container__cards div h3 {
  font-family: "Saira", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  line-height: 6rem;
  color: #E35A78;
}

.tickets-container__cards div p {
  font-weight: 300;
  font-size: 1.4rem;
  color: #FFFFFF;
}

.tickets-container__cards div span {
  padding: 30px 0;
  display: inline-block;
  font-family: "Saira", sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 2rem;
  color: #53C7F0;
  letter-spacing: 0.2rem;
}

.tickets-container__cards div sub {
  font-family: "Saira", sans-serif;
  vertical-align: unset;
  font-weight: 300;
  font-size: 1.2rem;
  color: #53C7F0;
}

.tickets-container__cards div button {
  margin: 0 auto;
  display: block;
  width: 160px;
  height: 40px;
  margin-top: 20px;
  background-color: #FD275F;
  color: #FFFFFF;
  border-radius: 50px;
  border: 1px solid #FD275F;
}

.card-2, .card-3 {
  display: none;
}

.card__beneficios {
  display: none;
}

@media screen and (min-width: 1024px) {
  .tickets-container {
    padding: 110px 100px;
  }
  .tickets-container__description {
    width: 100%;
    text-align: initial;
  }
  .tickets-container__description h3 {
    font-size: 6.4rem;
    line-height: 100px;
  }
  .tickets-container__description h3 .border-title__tickets {
    width: 213px;
    margin-left: 0;
  }
  .tickets-container__description p {
    width: 52%;
    margin: 30px 0;
    font-size: 2.2rem;
    line-height: 35px;
  }
  .tickets-container__cards {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tickets-container__cards div {
    width: 380px;
    margin: 35px 50px 0 0;
    padding: 50px 45px;
  }
  .tickets-container__cards div p {
    font-size: 1.6rem;
    text-align: start;
  }
  .card1, .card-2, .card-3 {
    display: block;
    margin: 0 10px;
  }
  .card__beneficios {
    width: 75%;
    margin: 0 auto;
    display: block;
    color: #FFFFFF;
    font-size: 1.8rem;
    text-align: start;
    list-style-type: square;
  }
}

.patrocinadores__container {
  width: 100%;
  padding: 40px;
  height: auto;
  background-image: url("../assets/images/patrocinio.png");
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.patrocinadores__container h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  color: #FFFFFF;
}

.patrocinadores-grid {
  width: 90%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 20px 120px;
      grid-template-rows: 20px 120px;
  margin: 0 auto;
}

.patrocinadores-grid figure {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      align-self: center;
}

.patrocinadores-grid div img {
  width: 110px;
  height: auto;
  margin: 20px 10px 10px 10px;
}

.logo-sponsor-3 {
  display: none;
}

@media screen and (min-width: 1024px) {
  .patrocinadores__container {
    width: 100%;
    height: auto;
  }
  .patrocinadores__container h3 {
    text-align: end;
    margin-right: 50px;
    font-size: 6.4rem;
    line-height: 100px;
  }
  .patrocinadores__container h3 .border-title__patrocinadores {
    margin-right: 0;
    width: 330px;
  }
  .patrocinadores-grid {
    width: 100%;
    height: auto;
    padding: 50px 20px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-grid-columns: 23% 23% 23% 23%;
        grid-template-columns: 23% 23% 23% 23%;
    display: -ms-grid;
    display: grid;
    grid-gap: 30px;
  }
  .patrocinadores-grid figure {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    grid-row: 2/2;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .patrocinadores-grid figure img {
    width: 50px;
    margin-left: 10px;
  }
  .patrocinadores-grid div img {
    width: 100%;
    height: auto;
    margin: 30px;
  }
  .logo-sponsor-3 {
    display: -ms-grid;
    display: grid;
  }
}

.galeria-container {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
}

.galeria-container article {
  padding: 60px 95px 10px 95px;
}

.galeria-container article p {
  display: none;
}

.galeria-container h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  color: black;
}

.grid-container {
  margin-top: 45px;
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (190px)[2];
      grid-template-rows: repeat(2, 190px);
}

.item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 190px;
  width: 100%;
}

.item5, .item6 {
  display: none;
}

.subitem {
  position: relative;
}

.subitem p {
  padding: 25px;
  position: absolute;
  top: 20px;
  left: 13px;
  width: 160px;
  height: 150px;
  text-align: center;
  font-size: 1.8rem;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1024px) {
  .galeria-container article {
    padding: 0 100px 25px 100px;
  }
  .galeria-container article p {
    width: 100%;
    display: block;
    text-align: start;
    font-size: 2.2rem;
  }
  .galeria-container article h3 {
    text-align: start;
    font-weight: 600;
    font-size: 6.3rem;
    line-height: 10rem;
  }
  .galeria-container article h3 .border-title__galeria {
    width: 410px;
    margin-left: 0;
  }
  .grid-container {
    margin-top: 45px;
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: auto;
    max-width: 100%;
    height: auto;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (500px)[2];
        grid-template-rows: repeat(2, 500px);
  }
  .item img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 500px;
  }
  .item5, .item6 {
    display: block;
  }
  .subitem p {
    padding: 25px;
    position: absolute;
    top: 115px;
    left: 20px;
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 1439px) {
  .grid-container {
    margin-top: 45px;
    display: -ms-grid;
    display: grid;
    width: 100%;
    max-width: 100%;
    height: auto;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (500px)[2];
        grid-template-rows: repeat(2, 500px);
  }
  .item img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 500px;
  }
  .item5, .item6 {
    display: block;
  }
  .subitem {
    position: relative;
  }
  .subitem p {
    padding: 25px;
    position: absolute;
    top: 80px;
    left: 85px;
    width: 380px;
    height: 380px;
  }
  .subitem p {
    padding: 25px;
    position: absolute;
    top: 115px;
    left: 85px;
    width: 300px;
    height: 300px;
  }
}

.news__container {
  display: none;
}

@media screen and (min-width: 1024px) {
  .news__container {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: auto;
    padding: 140px 100px;
    background-image: url("../assets/images/bg-news.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .news__container h2 {
    color: #FFFFFF;
    font-family: "Saira", sans-serif;
    text-align: end;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 6.4rem;
  }
  .news__container h2 .border-title__news {
    width: 275px;
    margin-right: 0;
  }
  .news__left figure img {
    width: 100%;
    height: 650px;
  }
  .news__left article h6 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #FD275F;
  }
  .news__left article h3 {
    font-family: "Saira", sans-serif;
    font-weight: 600;
    font-size: 4.5rem;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  .news__left article p {
    display: block;
    font-family: "Saira", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    color: #53C7F0;
  }
  .news__rigth figure img {
    width: 100%;
    height: 250px;
    margin-top: 35px;
  }
  .news__rigth article {
    margin-bottom: 35px;
  }
  .news__rigth article h6 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #FD275F;
  }
  .news__rigth article h3 {
    font-family: "Saira", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  .news__container--grid {
    display: -ms-grid;
    display: grid;
    width: 90%;
    grid-column-gap: 120px;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
  }
}

footer {
  width: 100%;
  height: auto;
  padding: 50px 30px;
  margin: 0 auto;
  background: #19112A;
  text-align: center;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
}

.footer_left strong {
  display: none;
}

.footer_left p {
  display: none;
}

.footer_rigth img {
  display: none;
}

footer h3 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFFFFF;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 30px 15px 30px 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-twitter {
  background-image: url("../assets/iconos/twitter.svg");
}

.icon-facebook {
  background-image: url("../assets/iconos/facebook.svg");
}

.icon-instagram {
  background-image: url("../assets/iconos/instagram.svg");
}

.footer-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_left div a {
  font-family: "Saira", sans-serif;
  text-transform: uppercase;
  color: #FD275F;
  margin-right: 20px;
  margin-top: 5px;
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 0 0 0 100px;
  }
  .footer_left {
    text-align: start;
    width: 50%;
  }
  .footer_left div span {
    width: 50px;
    height: 50px;
  }
  .footer__left_description {
    color: #53C7F0;
  }
  .footer_left h3 {
    text-align: start;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 25px;
  }
  .footer_left strong {
    display: inline-block;
    text-transform: capitalize;
    font-family: "Saira", sans-serif;
    font-weight: 300;
  }
  .footer_left div a {
    font-size: 1.8rem;
  }
  .footer_left p {
    display: block;
    font-weight: 300;
    font-size: 2rem;
    color: #53C7F0;
  }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_rigth {
    margin-left: 45px;
  }
  .footer_rigth img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.header__us {
  padding: 40px 40px 80px 40px;
  background-image: url("../assets/images/about-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__us h1 {
  margin-top: 15px;
  font-family: "Saira", sans-serif;
  font-size: 2rem;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.header__us h3 {
  font-family: "Saira", sans-serif;
  font-size: 1.5rem;
  color: #FFFFFF;
  text-align: center;
}

.header__us h3 strong {
  color: #53C7F0;
}

.subitem1 {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header h1 {
    font-size: 7.2rem;
  }
  .header h3 {
    font-size: 2.4rem;
    font-weight: 400;
  }
  .subitem1 {
    display: initial;
  }
}

.about__wp {
  min-width: 375px;
  height: auto;
  padding: 50px 0;
}

.about__wp h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  color: #060F20;
  font-weight: 400;
}

.about__wp h2 .border-title-about {
  width: 150px;
  margin: 0 auto;
}

.about__wp--description {
  display: none;
}

.about__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.about__numbers--item {
  width: 100px;
  margin: 20px 35px;
  text-align: center;
}

.about__numbers--item-1 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.about__numbers--item-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.about__numbers--item-3 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.about__numbers--item-4 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.about__numbers h4 {
  color: #060F20;
  font-size: 2.2rem;
}

.about__numbers p {
  text-transform: initial;
  color: #060F20;
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .about__wp {
    width: 100%;
    height: auto;
    padding: 100px;
  }
  .about__wp h2 {
    font-size: 6.4rem;
    width: 100%;
    text-align: start;
  }
  .about__wp h2 .border-title-about {
    margin-left: 0;
  }
  .about__wp--description {
    display: inline-block;
    font-size: 2rem;
    line-height: 2.9rem;
    width: 50%;
  }
  .about__wp--description p {
    margin-bottom: 35px;
  }
  .about__wp--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: inherit;
    margin-top: 70px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .about__numbers {
    min-width: 500px;
    width: 49%;
    margin-top: 0;
    margin-left: 50px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .about__numbers--item {
    width: 130px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .about__numbers h4 {
    font-size: 5rem;
  }
  .about__numbers p {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size: 2rem;
  }
}

.entradas--container {
  width: 100%;
  background-color: #060F20;
  padding: 50px 35px;
  text-align: center;
}

.entradas--container h2 {
  font-family: "Kanit", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 3.5rem;
  margin-bottom: 20px;
}

.entradas--container p {
  display: none;
}

.boton-entradas a {
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
  .entradas--container {
    padding: 100px;
  }
  .entradas--container h2 {
    font-family: "Saira", sans-serif;
    font-size: 6.4rem;
    margin-bottom: 40px;
    font-weight: 600;
  }
  .entradas--container p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    text-align: center;
    font-size: 2rem;
    color: #53C7F0;
  }
  .grid-container__about {
    -ms-grid-rows: (500px)[4];
        grid-template-rows: repeat(4, 500px);
  }
}

.djs__contenedor {
  padding: 65px 0;
}

.djs__contenedor--flex {
  text-align: center;
}

.djs__contenedor--up h3 {
  font-size: 3rem;
  font-weight: 400;
}

.djs__contenedor--up p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.djs__contenedor--up div {
  margin-bottom: 20px;
}

.djs__contenedor--up div span {
  margin-left: 10px;
  margin-right: 10px;
}

.djs__contenedor--down {
  text-align: center;
}

.djs__contenedor--down h4 {
  font-family: "Kanit", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  text-decoration: none;
}

.djs__contenedor--down h4 a {
  color: #060F20;
}

.djs__contenedor--down p {
  font-size: 1.8rem;
  font-weight: 300;
}

.dj-secundario {
  display: none;
}

@media screen and (min-width: 1024px) {
  .djs__contenedor {
    padding: 0 0 20px 0;
  }
  .djs__contenedor--flex {
    padding-left: 100px;
    max-width: 1440px;
    height: auto;
  }
  .djs__contenedor--up {
    width: 30%;
    margin-bottom: 100px;
  }
  .djs__contenedor--up h3 {
    margin-bottom: 40px;
    font-size: 6rem;
    font-weight: 600;
    text-align: start;
  }
  .djs__contenedor--up h3 .border-title__djs {
    width: 150px;
    margin-left: 0;
  }
  .djs__contenedor--up p {
    text-align: start;
    font-size: 2.2rem;
    font-weight: 400;
    margin-left: 0;
  }
  .arrows {
    display: none;
  }
  .djs__contenedor--down {
    width: 100%;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    margin: 0 auto;
  }
  .djs__contenedor--img {
    width: 100%;
    max-width: 350px;
    margin-bottom: 40px;
  }
  .djs__contenedor--img h4 {
    font-size: 3.5rem;
    font-weight: 500;
    text-align: start;
  }
  .djs__contenedor--img p {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: start;
  }
  .dj-secundario {
    display: block;
  }
}

.iziModal-header {
  display: none;
}

.modal__container {
  position: absolute;
  padding-top: 80px;
  z-index: 10;
  width: inherit;
  height: 1500px;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__container--int {
  width: 80%;
  height: 95%;
  margin: 0 auto;
  background-color: #060F20;
  padding: 80px;
}

.modal__container--int div {
  text-align: end;
  cursor: pointer;
}

.modal__container--int-sup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal__container--int-sup figure {
  width: 50%;
  text-align: center;
}

.modal__container--int-sup figure img {
  width: 100%;
  height: auto;
  margin: 20px auto;
}

.modal__container--int-sup article {
  width: 43%;
  color: #FFFFFF;
}

.modal__container--int-sup article h3 {
  font-size: 5rem;
  font-weight: 600;
  font-family: "Saira", sans-serif;
}

.modal__container--int-sup article p {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  margin-bottom: 25px;
}

.modal__container--int-inf {
  width: 90%;
  height: 90%;
  margin: 0 auto;
}

.modal__container--int-inf .grid-modif {
  margin-top: 0;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.modal__container--int-inf .grid-modif div img {
  width: 100%;
  height: 100%;
}

.modal__container--int .hide {
  display: none;
}

.preview__musical--container-left {
  display: none;
}

.preview__musical--container-rigth {
  width: 100%;
  text-align: center;
}

.preview__musical--container-rigth img {
  width: 100%;
  max-width: 600px;
}

@media screen and (min-width: 1024px) {
  .preview__musical--container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .preview__musical--container-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .preview__musical--container-rigth {
    width: 45%;
    text-align: end;
  }
}

.presentaciones__contenedor {
  width: 100%;
  padding: 65px 25px;
  text-align: center;
}

.presentaciones__contenedor h2 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Kanit", sans-serif;
}

.presentaciones__contenedor p {
  font-size: 2.2rem;
  font-weight: 400;
}

.presentaciones__contenedor p strong {
  display: none;
}

@media screen and (min-width: 1024px) {
  .presentaciones__contenedor {
    width: 70%;
    padding: 0px 0 100px 0;
    text-align: start;
  }
  .presentaciones__contenedor article {
    padding-left: 100px;
  }
  .presentaciones__contenedor h2 {
    font-size: 6.4rem;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Saira", sans-serif;
  }
  .presentaciones__contenedor h2 .border-title__presentaciones2 {
    width: 150px;
    margin-left: 0;
  }
  .presentaciones__contenedor p {
    font-size: 2.2rem;
    font-weight: 400;
  }
  .presentaciones__contenedor p strong {
    display: block;
    font-weight: 400;
    font-size: 2.2rem;
  }
  .presentaciones__art {
    display: none;
  }
}

.noticias__contenedor {
  margin: 0 auto;
  max-width: 500px;
  padding: 65px 10px;
}

.noticias__contenedor article {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 65px;
}

.noticias__contenedor article h2 {
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
}

.noticias__contenedor article p {
  font-family: "Saira", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
}

.noticias__contenedor article p strong {
  display: none;
}

.noticias__contenedor--flex img {
  width: 100%;
  max-height: 280px;
}

.noticias__contenedor--flex .noticias__contenedor--izquierdo {
  display: none;
}

.noticias__contenedor--flex .noticias__contenedor--derecho h3 {
  margin: 0 auto;
  width: 80%;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  color: #FD275F;
  margin-bottom: 10px;
}

.noticias__contenedor--flex .noticias__contenedor--derecho h4 {
  display: none;
}

.noticias__contenedor--flex .noticias__contenedor--derecho p {
  text-align: start;
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .noticias__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 100px;
    max-width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .noticias__contenedor article {
    text-align: start;
    width: 70%;
  }
  .noticias__contenedor article h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 6.4rem;
    font-family: "Saira", sans-serif;
  }
  .noticias__contenedor article h2 .border-title__news {
    width: 150px;
    margin-left: 0;
  }
  .noticias__contenedor article p {
    font-size: 2.2rem;
    font-weight: 400;
  }
  .noticias__contenedor article p strong {
    display: block;
    font-size: inherit;
    font-weight: inherit;
  }
  .noticias__contenedor--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .noticias__contenedor--flex img {
    width: 100%;
    max-height: 450px;
  }
  .noticias__contenedor--flex .noticias__contenedor--izquierdo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    height: 50%;
    margin-right: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .noticias__contenedor--flex .noticias__contenedor--izquierdo-icons {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
  .noticias__contenedor--flex .noticias__contenedor--izquierdo-icons-lg {
    border: 3px solid aqua;
  }
  .noticias__contenedor--flex .noticias__contenedor--izquierdo-icons-lg p {
    text-align: center;
  }
  .noticias__contenedor--flex .noticias__contenedor--izquierdo-icons img {
    width: 40px;
    height: 40px;
  }
  .noticias__contenedor--flex .noticias__contenedor--izquierdo-icons p {
    font-family: "Kanit", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: #FD275F;
  }
  .noticias__contenedor--flex .noticias__contenedor--derecho article {
    width: 100%;
  }
  .noticias__contenedor--flex .noticias__contenedor--derecho article h3 {
    width: 100%;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size: 4.8rem;
    text-align: start;
    color: #FD275F;
    margin-bottom: 10px;
  }
  .noticias__contenedor--flex .noticias__contenedor--derecho article h4 {
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
  }
  .noticias__contenedor--flex .noticias__contenedor--derecho article h4 span {
    vertical-align: middle;
  }
  .noticias__contenedor--flex .noticias__contenedor--derecho article h4 span img {
    width: 20px;
  }
  .noticias__contenedor--flex .noticias__contenedor--derecho article p {
    font-family: "Kanit", sans-serif;
    text-align: start;
    font-size: 1.8rem;
    font-weight: 300;
  }
  .noticias__contenedor--izquierdo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=styles.css.map */